.head-section, .main-container{
    width:80%;
    margin:0 auto;
}

/* heading row style */
.main-container{
    display:flex;
}
.heading-container{
    background-color:black;
    /* width:900px; */
    margin:0 auto;
    
    border-radius: 10px;
}
.row{
    display:flex;
    justify-content:space-around;
    align-items: center;
    /* margin:100px 0; */
}
.col-1{
    flex-basis: 40%;
    position:relative;

}
.heading-title{
    font-size:50px;
    color:white
}
.heading-description{
    font-size:20px;
    color:white;
}
.heading-button{
    width:140px;
    border:0;
    padding:10px;
    background-color:red;
    border-radius:10px;
    
}
.heading-button a{
    color:white;
    text-decoration: none;
    font-size:15px;
}
.col-2{
    position:relative;
    flex-basis: 50%;
    display:flex;
    align-items: center;
}
.col-2 img{
    width:70%;
}

/* main section style */
.left-site{
    display:flex;
    flex-direction: column;
    padding:10px;
    margin:10px;
    height:300px;
    width:300px;
    max-width:300px;
    /* border:1px solid red; */
    background-color:black;
    align-items: center;
    justify-content: center;

}

.left-site a{
    background-color:white;
    margin:15px;
    border-radius:5px;
    width:130px;
    padding:10px;
    justify-content: center;
    text-align:center;
    color:black;
    text-decoration:none;
    font-size:14px;
}

.righ-site{
    flex-grow:1;

}
.blogs{
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:10px;
    grid-column-gap:10px;
    
}
.blog{
    display:flex;
    flex-direction: column;
    
}
.blog .thambnail{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:200px;
}
.blog-button{
    width:150px;
    text-align:center;
    margin:0 auto;
    margin-top:10px;

}
/* footer section */











@media only screen and (max-width:675px) {
    .row{
        background-color:aqua;
        flex-direction: column;
    }
    .heading-description{
        font-size:18px;
        padding:20px;
    }
    .heading-title{
        font-size:30px
    }
    .left-site{
        flex-direction:column;
        width:auto;
        height:auto;
        background-color:white;
    }
    .main-container{
        display:flex;
        flex-direction:column;
    }
    .left-site a{
        box-shadow:5px 5px 5px whitesmoke;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        
       
    }
    .blog{
        align-items: center;
    }
}